@*@model androidpitalica.dal.entities.question

@{
    viewdata["title"] = "create";
    layout = "~/views/shared/_layout.cshtml";
}

<h2>create</h2>

<h4>question</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="create">
            <div asp-validation-summary="modelonly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="questiontext" class="control-label"></label>
                <input asp-for="questiontext" class="form-control" />
                <span asp-validation-for="questiontext" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="correctanswer" class="control-label"></label>
                <input asp-for="correctanswer" class="form-control" />
                <span asp-validation-for="correctanswer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="wronganswers" class="control-label"></label>
                <input asp-for="wronganswers" class="form-control" />
                <span asp-validation-for="wronganswers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="score" class="control-label"></label>
                <input asp-for="score" class="form-control" />
                <span asp-validation-for="score" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="examid" class="control-label"></label>
                <select asp-for="examid" class ="form-control" asp-items="viewbag.examid"></select>
            </div>
            <div class="form-group">
                <label asp-for="row" class="control-label"></label>
                <input asp-for="row" class="form-control" />
                <span asp-validation-for="row" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="definition" class="control-label"></label>
                <input asp-for="definition" class="form-control" />
                <span asp-validation-for="definition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="visibility" /> @html.displaynamefor(model => model.visibility)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="index">back to list</a>
</div>

@section scripts {
    @{await html.renderpartialasync("_validationscriptspartial");}
}*@
